<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DHost.Matcher" version="1.2.3" targetFramework="net461" />
  <package id="DHost.Shared" version="1.2.3" targetFramework="net461" />
  <package id="DynamicTypeGenerator" version="1.2.0" targetFramework="net461" />
  <package id="Mapster" version="4.0.0" targetFramework="net461" />
</packages>