################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/WcfDynamicServiceHost/.vs/WcfDynamicServiceHost/v15
/src/WcfDynamicServiceHost/WcfDynamicServiceHost.sln.DotSettings.user
/src/WcfDynamicServiceHost/packages
/src/WcfDynamicServiceHost/DynamicServiceHost.Tests/obj/Debug
/src/WcfDynamicServiceHost/DynamicServiceHost.Tests/bin/Debug
/src/WcfDynamicServiceHost/DynamicServiceHost.Matcher.Tests/obj/Debug
/src/WcfDynamicServiceHost/DynamicServiceHost.Matcher.Tests/bin/Debug
/src/WcfDynamicServiceHost/DynamicServiceHost.Matcher/bin/Debug
/src/WcfDynamicServiceHost/DynamicServiceHost.Matcher/obj/Debug
/src/packages
/src/.vs/WcfDynamicServiceHost/v15
/src/WcfDynamicServiceHost.sln.DotSettings.user
/src/DynamicServiceHost.Matcher/bin/Debug
/src/DynamicServiceHost.Matcher/obj/Debug
/src/DynamicServiceHost.Matcher.Tests/obj/Debug
/src/DynamicServiceHost.Matcher.Tests/bin/Debug
/src/DynamicServiceHost.Host/obj/Debug
/src/DynamicServiceHost.Host.Tests/obj/Debug
/src/DynamicServiceHost.Host.Tests/bin/Debug
/src/DynamicServiceHost.Host/bin/Debug
/src/DynamicWcfServiceHost.Proxy/bin/Debug
/src/DynamicWcfServiceHost.Proxy/obj/Debug
/src/DynamicWcfServiceHost.Shared/bin/Debug
/src/DynamicWcfServiceHost.Shared/obj/Debug
/src/DynamicServiceHost.Host/bin/Release
/src/DynamicServiceHost.Host/obj/Release
/src/DynamicServiceHost.Host.Tests/bin/Release
/src/DynamicServiceHost.Host.Tests/obj/Release
/src/DynamicServiceHost.Matcher/bin/Release
/src/DynamicServiceHost.Matcher/obj/Release
/src/DynamicServiceHost.Matcher.Tests/bin/Release
/src/DynamicServiceHost.Matcher.Tests/obj/Release
/src/DynamicWcfServiceHost.Proxy/bin/Release
/src/DynamicWcfServiceHost.Proxy/obj/Release
/src/DynamicWcfServiceHost.Shared/bin/Release
/src/DynamicWcfServiceHost.Shared/obj/Release
