################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/WcfDynamicServiceHost/.vs/WcfDynamicServiceHost/v15
/src/WcfDynamicServiceHost/WcfDynamicServiceHost.sln.DotSettings.user
/src/WcfDynamicServiceHost/packages
/src/WcfDynamicServiceHost/DynamicServiceHost.Tests/obj/Debug
/src/WcfDynamicServiceHost/DynamicServiceHost.Tests/bin/Debug
/src/WcfDynamicServiceHost/DynamicServiceHost.Matcher.Tests/obj/Debug
/src/WcfDynamicServiceHost/DynamicServiceHost.Matcher.Tests/bin/Debug
/src/WcfDynamicServiceHost/DynamicServiceHost.Matcher/bin/Debug
/src/WcfDynamicServiceHost/DynamicServiceHost.Matcher/obj/Debug
/src/packages
/src/.vs/WcfDynamicServiceHost/v15
/src/WcfDynamicServiceHost.sln.DotSettings.user
/src/DynamicServiceHost.Matcher/bin/Debug
/src/DynamicServiceHost.Matcher/obj/Debug
/src/DynamicServiceHost.Matcher.Tests/obj/Debug
/src/DynamicServiceHost.Matcher.Tests/bin/Debug
