<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <services>
      <service name="ISimpleContract_Connected">
        <endpoint address="http://localhost:5758/ISimpleContract" binding="basicHttpBinding" contract="ISimpleContract_Connected" />
        <endpoint address="http://localhost:5758/ISimpleContract/Mex" binding="mexHttpBinding" contract="ISimpleContract_Connected" />
      </service>
    </services>
    <client>
      <endpoint address="http://localhost:5758/ISimpleContract" binding="basicHttpBinding" contract="ISimpleContract_Connected" />
    </client>
  </system.serviceModel>
</configuration>