<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <services>
      <service name="ISimpleContract_Connected">
        <endpoint address="net.tcp://localhost:5758/ISimpleContract" binding="netTcpBinding" contract="ISimpleContract_Connected" />
      </service>
      <service name="IComplexContract_Connected">
        <endpoint address="net.tcp://localhost:5758/IComplexContract" binding="netTcpBinding" contract="IComplexContract_Connected" />
      </service>
      <service name="IVeryComplexContract_Connected">
        <endpoint address="net.tcp://localhost:5758/IVeryComplexContract" binding="netTcpBinding" contract="IVeryComplexContract_Connected" />
      </service>
      <service name="ISimpleContract_Disconnected">
        <endpoint address="net.msmq://localhost/Private/ISimpleContract" binding="netMsmqBinding" contract="ISimpleContract_Disconnected" />
      </service>
      <service name="IComplexContract_Disconnected">
        <endpoint address="net.msmq://localhost/Private/IComplexContract" binding="netMsmqBinding" contract="IComplexContract_Disconnected" />
      </service>
      <service name="IVeryComplexContract_Disconnected">
        <endpoint address="net.msmq://localhost/Private/IVeryComplexContract" binding="netMsmqBinding" contract="IVeryComplexContract_Disconnected" />
      </service>
      <service name="ITwoMethodScenario_Connected">
        <endpoint address="net.tcp://localhost:5758/ITwoMethodScenario" binding="netTcpBinding" contract="ITwoMethodScenario_Connected" />
      </service>
      <service name="ITwoMethodScenario_Disconnected">
        <endpoint address="net.msmq://localhost/Private/ITwoMethodScenario" binding="netMsmqBinding" contract="ITwoMethodScenario_Disconnected" />
      </service>
    </services>
    <client>
      <endpoint address="net.tcp://localhost:5758/ISimpleContract" binding="netTcpBinding" contract="ISimpleContract_Connected" />
      <endpoint address="net.msmq://localhost/Private/ISimpleContract" binding="netMsmqBinding" contract="ISimpleContract_Disconnected" />

      <endpoint address="net.tcp://localhost:5758/IComplexContract" binding="netTcpBinding" contract="IComplexContract_Connected" />
      <endpoint address="net.msmq://localhost/Private/IComplexContract" binding="netMsmqBinding" contract="IComplexContract_Disconnected" />

      <endpoint address="net.tcp://localhost:5758/IVeryComplexContract" binding="netTcpBinding" contract="IVeryComplexContract_Connected" />
      <endpoint address="net.msmq://localhost/Private/IVeryComplexContract" binding="netMsmqBinding" contract="IVeryComplexContract_Disconnected" />

      <endpoint address="net.tcp://localhost:5758/ITwoMethodScenario" binding="netTcpBinding" contract="ITwoMethodScenario_Connected" />
      <endpoint address="net.msmq://localhost/Private/ITwoMethodScenario" binding="netMsmqBinding" contract="ITwoMethodScenario_Disconnected" />
    </client>
    <bindings>
      <netTcpBinding>
        <binding transactionFlow="true"></binding>
      </netTcpBinding>
      <netMsmqBinding>
        <binding exactlyOnce="true">
          <security mode="None"></security>
        </binding>
      </netMsmqBinding>
    </bindings>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.1.0" newVersion="1.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Loader" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.FileSystem" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Algorithms" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.FileSystem.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml.XPath.XDocument" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>